@keyframes test {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10%);
    }
}

// 주석
#app {
    /* 주석 */
    color: red;

    div {
        animation: test 1s;
    }
}
